@import url('https://fonts.googleapis.com/css2?family=Anton&family=Darumadrop+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  background: #010a24;
  margin: 0;
  height: 100%;
}



body {
  font-family: 'Darumadrop One', sans-serif;
  color: #ccd6f6;
  line-height: 1.6;
  overflow-x: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

.sortable-ghost {
  opacity: 0.5;
  background: #444;
}

.container {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 10px;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.item {
  padding: 18px;
  cursor: grab;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 10px;
  color: white;
  font-size: 18px;
  align-self: stretch;
}


/* Definir tamaños dinámicos en HTML */
.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.span-5 {
  grid-column: span 5;
}

.span-6 {
  grid-column: span 6;
}

.span-7 {
  grid-column: span 7;
}

.span-8 {
  grid-column: span 8;
}

.span-9 {
  grid-column: span 9;
}

.span-10 {
  grid-column: span 10;
}

.span-11 {
  grid-column: span 11;
}

.span-12 {
  grid-column: span 12;
}

.span-13 {
  grid-column: span 13;
}

.gif-hover {
  cursor: grab;
  width: auto;
  height: 100%;
  display: block;
  border-radius: 10px;
}

.small-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.small-item {
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
}

.navbar {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 10px 20px;
  border-radius: 20px;
  color: black;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
}

.navbar li {
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

.navbar li:hover {
  background-color: #171717;
  color: #E40E58;
  border-radius: 20px;
}

/* Profile Section */
.profile-card {
  padding: 20px;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
  margin-right: 20px;
}

.profile-info h1 {
  font-size: 1.5rem;
  margin: 5px 0;
}

.profile-info h2 {
  font-size: 1rem;
  color: #858BB2;
}

.highlight {
  color: #6A5ACD;
}

.tags i {
  margin-right: 5px;
}

/* Estado de disponibilidad */
.status {
  font-size: 0.9rem;
  color: #4CAF50;
  font-weight: bold;
}

/* Botones de contacto */
.contact-buttons {
  display: flex;
  gap: 10px;
}

.contact-btn {
  flex: 1;
  background: #25272C;
  color: #ACADB6;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.contact-btn:hover {
  background: #6A5ACD;
  color: white;
}

/* Social Links */
.social-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-links a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px 10px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  background-color: #202226;
  color: #ACADB6;
  transition: background 0.3s, color 0.3s;
}

.social-links a:hover {
  background-color: #313337;
  color: #fff;
}

.social-links i {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313337;
  border-radius: 8px;
  font-size: 18px;
}

/*Skills*/
.skills-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.skills-icons i {
  transition: transform 0.3s;
  font-size: 40px;
}

.experience-container {
  width: 100%;
}

.experience-item {
  display: flex;
  padding: 10px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.date {
  flex: 1;
  text-align: left;
}

.dates {
  font-size: 14px;
  color: #94a3b8;
}

.description {
  flex: 3;
}

.description p {
  font-size: 14px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.tags span {
  background-color: #212327;
  color: #e2e8f0;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 15px;
  white-space: nowrap;
  display: inline-block;
}

.tags span:hover {
  background-color: #475569;
}

.footer {
  text-align: center;
  padding: 20px 0;
}

.copyright span {
  font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .portfolio {
    grid-template-columns: repeat(5, 1fr);
  }
  .span-4 {
    grid-column: span 5;
  }
  .skills-icons i {
    font-size: 32px;
  }
}