@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0a192f, #030c1a);
  color: #ccd6f6;
  line-height: 1.6;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: 30% 70%;
  max-width: 75%;
  margin: 0 auto;
}

/* Sidebar */
.sidebar {
  position: sticky;
  top: 0;
  height: 80vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10vh;
}

/* Profile Section */
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.profile-text h1 {
  font-size: 1.8rem;
  color: #CAD5ED;
  margin: 0;
}

.profile-text h2 {
  font-size: 1rem;
  margin: 5px 0;
  background: linear-gradient(90deg, #ff7a18, #af002d, #319197);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text; 
  color: transparent; 
  animation: gradient-text 1.5s infinite alternate;
}

@keyframes gradient-text {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}




.profile-text p a {
  text-decoration: none;
  outline: none;
  color: #8598BC;
  font-weight: bold;
  transition: color 0.3s;
}

.profile-text p a:hover {
  color: #a8b2d1;
}

.profile-text p a i {
  font-size: 0.8rem;
  margin-right: 5px;
}

.bio{
  font-size: 0.95rem;
  max-width: 100%;
  color: #8598BC;
  font-style: italic;
  margin-top: 10px;
  transition: color 0.3s ease-in-out;
}
.bio:hover {
  color: #58a6ff;
}

/* Navigation */
.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10% 0;
  padding-left: 20px;
}

.sidebar nav ul li a {
  display: flex;
  align-items: center; 
  text-decoration: none;
  font-size: 0.9rem;
  color: #ccd6f6;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.sidebar nav ul li a i {
  font-size: 1.2rem; 
  margin-right: 10px; 
  color: #8598BC;
  transition: transform 0.3s ease, color 0.3s ease;
}

.sidebar li a:hover {
  color: #fff;
  transform: translateX(20px); 
}

.sidebar nav ul li a:hover i {
  color: #F7C02B; 
  transform: scale(1.2); 
}


/* Social Links */
.social-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.social-links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #8892b0;
}

.social-links a:hover {
  color: #fff;
}

/* Main Content */
.content {
  padding: 40px 60px;
  overflow-y: auto;
  padding-top: 10vh;
}

.content section {
  margin-bottom: 40px;
}

.content h2 {
  font-size: 1.2rem;
  color: #CAD6ED;
  margin-bottom: 10px;
}

.content strong {
  color: #CAD6ED;
}

.content p {
  color: #8598BC;
  font-size: 0.95rem;
  margin-bottom: 20px;
}

.spotlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  pointer-events: none;
  transition: background-image 0.1s ease-out;
  z-index: -1;
}

.experience-container {
  width: 100%;
}

.experience-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  padding: 10px; 
  transition: background 0.3s ease, box-shadow 0.3s ease; 
}

.experience-item:hover {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 12px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.date {
  flex: 1;
  text-align: left;
  min-width: 150px;
}

.dates {
  font-size: 0.8rem;
  color: #94a3b8; 
}

.description {
  flex: 3;
  padding-left: 20px;
}

.description h2{
  font-size: 0.9rem;
}

.description p{
  font-size: 0.8rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags span {
  background-color: #334155; 
  color: #e2e8f0;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 20px;
  white-space: nowrap;
  display: inline-block;
}

.tags span:hover {
  background-color: #475569; 
}

section{
  padding-bottom: 5vh;
}

.preview img{
  flex: 1;
  max-width: 200px;
  min-width: 150px;
  height: auto;
}

a {
  text-decoration: none;
  color: #4473ff;
}

.footer {
  text-align: center; 
  padding: 20px 0;
}

.copyright span {
  font-weight: bold;
}

@media (max-width: 1280px) {
  .container {
    grid-template-columns: 1fr;
    max-width: 100%;
    height: auto;
  }

  .sidebar {
    position: relative;
    margin-top: 0;
    height: auto;
    overflow-y: auto;
    width: 100%;
    padding-top: 5vh;
  }

  .bio {
    max-width: 100%;
    margin-bottom: 20px;
  }

  nav {
    display: none;
  }

  .content {
    width: 100%;
    padding: 10px 20px;
  }
  .experience-item {
    flex-direction: column; 
    padding: 15px; 
  }

  .description {
    padding-left: 0; 
    margin-top: 10px; 
  }

  .preview img{
    justify-content: center;
    flex: 1;
    max-width: 300px;
    height: auto;
  }
  
}

.ad {
  display: inline-block;
  border: 2px inset #ccd6f6; 
  padding: 2px 5px; 
  font-size: 0.8rem; 
  background: linear-gradient(135deg, #030c1a, #0a192f, #1d2a44);
  width: auto;
  transition: all 0.2s ease-in-out; 
  cursor: pointer;
  position: relative;
  border-color: #f7c02b;
  color: #f7c02b; 
  border-radius: 100px;
}

.ad:focus {
  outline: none; 
  border-color: #f7c02b;
  color: #f7c02b;
}

.ad::before {
  font-size: 16px;
  color: inherit; 
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
